.layout-container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #f7f8fc;
}

.main-content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    margin-left: 0;
}
